/* Worker row */

.worker-row {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto;
  gap: var(--space-4);
  align-items: start;
  padding: var(--space-4);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  touch-action: none;
}

.worker-name-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

/* Uplift checkboxes */

.uplift-checkbox {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.uplift-checkbox .checkbox-root:is(:hover, :focus) {
  border: 1px solid transparent;
  outline: 2px solid var(--color-uplift-section, --color-section);
}

.uplift-checkbox .checkbox-root[data-state="checked"] {
  background-color: var(--color-uplift-section, --color-section);
  border: 1px solid transparent;
  outline: 2px solid var(--color-uplift-section, --color-section);
}

/* NI Category */

.ni-category-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.ni-category-label {
  display: flex;
}
